.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.question{
  border: 1px solid black;
  margin: 1%;
  border-radius: 5px;
}

.answer{
/*  border: 1px solid black; */
  margin: 1%;
  border-radius: 5px;
  display: flex;
}

.image{
  flex:1;
  min-height: 20vh;
}

.choices{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}


.choice {
  font-family: "Helvetica Neue";
  font-size: 24px;
  display: inline;
}
input[type=radio] {
  display: inline;
  border: 0px;
  width: 50%;
  height: 4em;
}

.arrow-wrapper {
  margin: 1%;
  display: flex;
  justify-content: space-around;
  font-size: 32px;
}